# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:

pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
# Your code here:
legen = pokemon[pokemon.Legendary == True]        #Filtro pokemons legendarios
normal = pokemon[pokemon.Legendary == False]      #Filtro pokemons normales

In [18]:
np.mean(legen.Total)

637.3846153846154

In [21]:
np.std(legen.Total)

60.46682302213781

In [19]:
np.mean(normal.Total)

417.21360544217686

In [22]:
np.std(normal.Total)

106.68776660321996

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [23]:
from scipy.stats import ttest_ind

In [28]:
# Your code here:

ttest_ind(legen.Total, normal.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# We can conclude that similitudes in between both samples are not found as

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [32]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [38]:
# Your code here:

water = pokemon[pokemon['Type 1'] == 'Water']

no_water = pokemon[pokemon['Type 1'] != 'Water']

water.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [39]:
np.mean(water.Total)

430.45535714285717

In [41]:
np.std(water.Total)

112.68182832909096

In [40]:
np.mean(no_water.Total)

435.85901162790697

In [42]:
np.std(no_water.Total)

121.00364762501167

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [43]:
# Your code here:

ttest_ind(water.Total, no_water.Total, equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [44]:
# Your conclusions here:

# The samples have quite a similarity in between each other as the pvalue tells us...

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [47]:
np.mean(pokemon.Attack)

79.00125

In [48]:
np.mean(pokemon.Defense)

73.8425

In [46]:
# Your code here:
from scipy.stats import ttest_rel  # testeo con dos muestras dependientes

ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# The samples Attack vs Defense have slight relations, but not enough to say they are paired/equal...

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [51]:
np.mean(pokemon['Sp. Atk'])

72.82

In [50]:
np.mean(pokemon['Sp. Def'])

71.9025

In [49]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [52]:
# Your conclusions here:

# In this case we can say that H1 is accepted and that Sp. Attack and Sp. Defense have a strong similarity

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [56]:
# Your code here:
from scipy.stats import ttest_1samp  # testeo con dos muestras dependientes
    

ttest_1samp(pokemon.Attack - pokemon.Defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [61]:
from statsmodels.multivariate.manova import MANOVA
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

In [57]:
# Your code here:

cross=pd.crosstab(pokemon['Type 1'] == 'Water', pokemon['Legendary'])

cross

Legendary  False  True
Type 1
False        627    61
True         108     4

In [64]:
pokemon[(pokemon.Legendary == True) & (pokemon['Type 1'] == 'Water')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [62]:
# Your code here:
ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

0.08625467249550949

In [70]:
pokemon[pokemon.Legendary == True]['Type 1'].value_counts()

Psychic     14
Dragon      12
Fire         5
Electric     4
Water        4
Rock         4
Steel        4
Ground       4
Grass        3
Ice          2
Normal       2
Ghost        2
Dark         2
Flying       2
Fairy        1
Name: Type 1, dtype: int64

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

# Based on 95% confidence we should reject the null hypothesis

In [72]:
cross=pd.crosstab(pokemon['Type 1'] == 'Fire', pokemon['Legendary'])

cross

Legendary  False  True
Type 1
False        688    60
True          47     5

In [73]:
ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

0.88522460460422