# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
# Your code here:
pokemon.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 194.7 KB

In [13]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [30]:
# Your code here:
legen_no_std = pokemon[pokemon['Legendary'] == False]['Total'].std()
legen_no_mean = pokemon[pokemon['Legendary'] == False]['Total'].mean()

In [31]:
legen_no_std, legen_no_mean

(106.76041745713022, 417.21360544217686)

In [32]:
legen_si_std = pokemon[pokemon['Legendary'] == True]['Total'].std()
legen_si_mean = pokemon[pokemon['Legendary'] == True]['Total'].mean()

In [33]:
legen_si_std, legen_si_mean

(60.93738905315346, 637.3846153846154)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [35]:
from scipy.stats import ttest_ind

In [39]:
pokemon[pokemon['Legendary'] == False]['Total']

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [40]:
# Your code here:
ttest_ind(pokemon[pokemon['Legendary'] == True]['Total'], pokemon[pokemon['Legendary'] == False]['Total'], alternative='two-sided')

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#El p_Value tiende a cero. Podemos rechazar H0

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [43]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [46]:
# Your code here:
std_water = pokemon[pokemon['Type 1'] == 'Water']['Total'].std()
mean_water = pokemon[pokemon['Type 1'] == 'Water']['Total'].mean()

In [47]:
std_water, mean_water

(113.18826606431458, 430.45535714285717)

In [49]:
std_no_water = pokemon[pokemon['Type 1'] != 'Water']['Total'].std()
mean_no_water = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()

In [50]:
std_no_water, mean_no_water

(121.09168230208066, 435.85901162790697)

In [53]:
ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'], pokemon[pokemon['Type 1'] != 'Water']['Total'], alternative='two-sided')

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [54]:
# Your code here:
ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'], pokemon[pokemon['Type 1'] != 'Water']['Total'], alternative='two-sided')

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

#El p_Value no tiende a cero. Podemos no rechazar H0

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [60]:
from scipy.stats import ttest_rel

In [61]:
# Your code here:
pokemon['Attack'].sum(), pokemon['Defense'].sum()

(63201, 59074)

In [62]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#El p_Value tiende a cero. Podemos rechazar H0

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [64]:
# Your code here:
def_mean = pokemon['Sp. Def'].mean()
atk_mean = pokemon['Sp. Atk'].mean()

In [65]:
def_mean, atk_mean

(71.9025, 72.82)

In [67]:
ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# No se puede hacer un testeo de dos medias

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [71]:
from scipy.stats import ttest_1samp

In [75]:
# Your code here:
pokemon['Defense'].mean(), pokemon['Attack'].mean()

(73.8425, 79.00125)

In [73]:
ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [106]:
mu_a = 73.8425

In [107]:
mu_d = 79.00125

In [108]:
test_d = ttest_1samp(pokemon['Defense'], mu_d, alternative='less')
test_d

Ttest_1sampResult(statistic=-4.679124590910434, pvalue=1.6914540217624237e-06)

In [110]:
stat_d, pval_d = test_d
pval_d

1.6914540217624237e-06

In [111]:
test_a = ttest_1samp(pokemon['Attack'], mu_a, alternative='less')
test_a

Ttest_1sampResult(statistic=4.4954813919438585, pvalue=0.9999960160245839)

In [112]:
stat_a, pval_a = test_a
pval_a

0.9999960160245839

In [113]:
pval_a == pval_d

False

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [150]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

In [151]:
# Your code here:
crosstab = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')
crosstab

Type 1     False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [152]:
chi_square

[array([0.04114855, 0.25276968]), array([0.46529517, 2.85824176])]

In [153]:
# Your code here:
chi_square=([(f-e)**2./e for f,e in zip(crosstab.values, ex)])

chi_statistic=sum(chi_square)

p_value=1-chi2.cdf(x=chi_statistic, df=dof)

p_value

array([0.47668241, 0.07776466])

In [154]:
ji_dos, pval, dof, ex = chi2_contingency(crosstab)

pval

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [155]:
# Your answer here:
chi_statistic

array([0.50644372, 3.11101144])

In [ ]:
# NO rechazamos la hipotesis