# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
# import numpy and pandas
import numpy as np
import pandas as pd

from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

import statsmodels.api as sm
from statsmodels.formula.api import ols

import warnings
warnings.simplefilter('ignore')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [25]:
# Your code here:

legendary=pokemon[(pokemon['Legendary']==True)]['Total']
non_legendary=pokemon[(pokemon['Legendary']==False)]['Total']

print('mean = ',legendary.mean())
print('std = ',non_legendary.mean())

mean =  637.3846153846154
std =  417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [27]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(non_legendary, legendary, alternative='two-sided')

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

In [29]:
non_legendary.mean(), legendary.mean()

(417.21360544217686, 637.3846153846154)

In [28]:
non_legendary.std(), legendary.std()

(106.76041745713005, 60.93738905315344)

In [31]:
ttest_ind(non_legendary, legendary, equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [33]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [50]:
# Your code here:

water=pokemon[(pokemon['Type 1']=='Water')]['Total']
not_water=pokemon[(pokemon['Type 1']!='Water')]['Total']

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [55]:
# Your code here:

ttest_ind(not_water, water, alternative='two-sided')

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

In [53]:
not_water.mean(), water.mean()

(435.85901162790697, 430.45535714285717)

In [52]:
not_water.std(), water.std()

(121.0916823020807, 113.1882660643146)

In [56]:
ttest_ind(not_water, water, equal_var=True)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [58]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [74]:
# Your code here:
from scipy.stats import ttest_rel


defense=pokemon['Defense']
attack=pokemon['Attack']

ttest_rel(attack, defense,0)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [66]:
defense.mean(), attack.mean()

(73.8425, 79.00125)

In [67]:
defense.std(), attack.std()

(31.183500559332934, 32.45736586949845)

In [69]:
attack.mean() - defense.mean()

5.158749999999998

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#no son dependientes, ya que el p.value esta por debajo de 0.05 y nos permite descartar H0

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [77]:
# Your code here:
sp_defense=pokemon['Sp. Def']
sp_attack=pokemon['Sp. Atk']

print(ttest_rel(sp_attack, sp_defense,0))
sp_attack.mean() - sp_defense.mean()

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

0.9174999999999898

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#son dependientes, ya que el p.value esta por encima de 0.05 y no podemos descartar H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [85]:
# Your code here:
    
from scipy.stats import ttest_1samp

In [84]:
t_test=ttest_1samp(attack-defense, 0)
t_test

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [92]:
# Your code here:

cross=pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
cross

Type 1     False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [93]:
# Your code here:

ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

0.08625467249550949

In [95]:
chi2_contingency(cross)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

no se puede rechazar H0 porque pvalue>0.05